#notebook_index {
  margin-bottom: 1.2em;
  padding-left: 0px;

  li {
    list-style-type: none;

    &:before {
      content: '\25A0';
      display: block;
      position: relative;
      max-width:  0;
      max-height: 0;
      left: -15px;
      top: -1px;
      color: $primary-color;
      font-size: 11px;
    }
  }

  .notebook_index__tags {
    font-size: 75%;
    color: $accent-grey;

    a, a:visited {
      color: $accent-grey;

      &:hover {
        color: darken($accent-grey, 25%);
      }
    }
  }

  li:not(:last-child) {
    margin-bottom: 0.85em;
  }
}

#notebook_filters {
  @include purple_box();
  @include fullwidth_box();

  display: none;

  .tag_filter {
    margin-left:  0.25rem;
    margin-right: 0.4rem;
    font-weight: bold;

    a.remove_tag {
      font-weight: normal;
      color: #d01c11;
      background-image: none;
      padding-left: 3px;

      &::before {
        content: "[";
      }

      &::after {
        content: "]";
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
