$index-left-column: 75px;
$index-gutter-column: 15px;

.notebook_index {
  list-style-type: none;
  padding-left: 0px !important;
  margin-bottom: 1.2em;

  .notebook_index__date {
    width: $index-left-column;
    float: left;
    display: inline-block;
    text-align: right;
    font-size: 75%;
    color: $accent-grey;
  }
  .notebook_index__url {
    margin-left: $index-left-column + $index-gutter-column;
  }

  li:not(:last-child) {
    margin-bottom: 0.75em;
  }
}
