aside {
  border-bottom: 2px solid $primary-color;
  background: url('/theme/specktre.png') rgba(114,83,237,0.25);
  background-size: auto 100%;

  #aside_inner {
    @include central_element();

    font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;;

    a:not([class]) {
      background-image: none;
    }

    a:hover {
      text-decoration: none;
    }

    a:visited {
      color: white;
    }

    #brand {
      margin-bottom: 18px;
      font-weight: normal;
      font-size: 2em;
      a {
        text-decoration: none;
      }
    }

    #aside_links ul {
      padding-top:    0px;
      padding-bottom: 0px;
      margin-bottom:  10px;
    }
  }
}
