code, pre {
  background-color: rgba(114, 83, 237, 0.04);
  font-family: $mono-font;
  overflow-x: auto;

  border: $sidebar-border-width solid rgba(114, 83, 237, 0.45);
  border-radius: 5px;
}

code {
  margin: 2px;
  padding: 3px 3px;
  font-size: 1em * $code-scaling-factor;

  // Disable selecting the $ or the following space in ``console`` code
  // blocks.  The original space is removed in the `cleanup_text.rb` plugin.
  &.language-console > span.gp {
    @include disable_select();
    &::after {
      content: " ";
    }
  }
}

pre {
  padding: ($default-padding / 2) ($default-padding * 0.6 - $sidebar-border-width);
  line-height: $line-height * $code-scaling-factor * 1.08;

  margin-left:  -$default-padding * 0.6;
  margin-right: -$default-padding * 0.6;

  @media screen and (max-width: $max-width + $default-padding * 3) {
    margin-left: 0px;
  }

  // This ensures that code blocks don't get blown up to big sizes
  // on iPhone displays.
  -webkit-text-size-adjust: 100%;

  // This ensures the first line of <pre> blocks doesn't have a funny indent
  code {
    border: none;
    background: none;
    margin: 0px;
    padding-left: 0px;
  }
}

.highlight {
  hanging-punctuation: none;
}

figure.highlight > pre,
figure.highlight > pre > code {
  background: none;
  border-left: none;
  padding: 0px;
}

figure.highlight > pre {
  font-size: 1em;
}

figure.highlight {
  td {
    margin: 0px;
    padding: 0px;
    pre {
      margin-top:    0px;
      margin-bottom: 0px;
    }
  }

  pre.lineno {
    color: $accent-grey;
    @include disable_select();
  }

  td.code {
    pre {
      border-left: none;
    }
    width: 100%;
  }
}