@mixin centred($max-width) {
  max-width: $max-width;
  margin-left:  auto;
  margin-right: auto;
}

@mixin central_element() {
  @include centred($max-width);
  padding: 1px $default-padding;
}

@mixin disable_select() {
  // Disable text selection highlighting
  // https://stackoverflow.com/a/4407335/1558022
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

@mixin purple_box() {
  background-color: rgba(114, 83, 237, 0.04);
  border: $sidebar-border-width solid rgba(114, 83, 237, 0.45);
  border-radius: 5px;
}

@mixin fullwidth_box() {
  padding: ($default-padding / 2) ($default-padding * 0.6 - $sidebar-border-width);
  line-height: $line-height * $code-scaling-factor * 1.08;

  margin-left:  -$default-padding * 0.6;
  margin-right: -$default-padding * 0.6;

  @media screen and (max-width: $max-width + $default-padding * 3) {
    margin-left: 0px;
  }
}